* {
  margin: 0;
}
body {
  background-image: url("./assets/image1.jpg");
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}

.app__header > h1 {
  background-color: white;
  color: #3f50b5;
  padding: 10px;
  border-radius: 15px;

  font-size: 2rem;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__dropdown {
  background-color: #e8cbfc;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
